<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
  <meta charset="UTF-8">
  <title>FE Exercise</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="AppCtrl">
<div class="left-panel">
  <card ng-repeat="card in cards" card="card"
        on-opened="onCardOpened(card)"
        on-closed="onCardClosed(card)"
        on-removed="onCardRemoved(card)"
      ></card>
</div>

<button class="btn-add" type="button" ng-click="addCard()">Add Card</button>

<script src="lib/angular.min.js"></script>
<script src="lib/angular-animate.min.js"></script>
<script src="app.js"></script>

<script type="text/ng-template" id="card.html">
  <div class="card" ng-class="{closed: card.isClosed}">
    <div class="card-header" ng-click="onHeaderClicked($event)">
      <span class="card-title" ng-show="card.isClosed" ng-click="onOpened({card: card})">{{getTitle()}}</span>
      <input class="card-title ng-hide" type="text" ng-model="card.title" placeholder="Untitled Module" ng-show="!card.isClosed"/>
      <div class="card-toolkit">
        <i class="icon icon-copy"></i>
        <i class="icon icon-trash" ng-click="onRemoved({card:card})"></i>
      </div>
    </div>
    <div class="card-body ng-hide" ng-show="!card.isClosed">
      <ul class="group tabs">
        <li>
          <input type="radio" name="{{tabName}}" id="{{'tabData' + tabName}}" checked>
          <label for="{{'tabData' + tabName}}">Data</label>
          <div id="tabContentData" class="tab-content">
            <div class="section">
              <div class="section-header group">
                <span class="pull-left">Rows</span>
                <span class="pull-right"><i class="icon icon-add icon-blue icon-circle"></i></span>
              </div>
            </div>

            <div class="section">
              <div class="section-header group">
                <span class="pull-left">Columns</span>
                <span class="pull-right"><i class="icon icon-add icon-blue icon-circle"></i></span>
              </div>
            </div>
          </div>
        </li>

        <li>
          <input type="radio" name="{{tabName}}" id="{{'tabVisualization' + tabName}}">
          <label for="{{'tabVisualization' + tabName}}">Visualization</label>
          <div id="tabContentVisualization" class="tab-content">
            Visualization
          </div>
        </li>

        <li>
          <input type="radio" name="{{tabName}}" id="{{'tabSettings' + tabName}}">
          <label for="{{'tabSettings' + tabName}}">Settings</label>
          <div id="tabContentSettings" class="tab-content">
            Settings
          </div>
        </li>
      </ul>
    </div>
  </div>
</script>
</body>
</html>